.+
/project/bin-*
/project/libs
/project/index.html
/project/app.json
/project/egretProperties.json
manifest.json
default.boot.json
default.data.d.ts
default.data.js
default.res.json
default.thm.json
sub.res.json
.idea
.n2
.wing
^.*
~.*
~$*
node_modules
*.js.map
/dist
/publish
/project_wxgame
/project_baidugame
*.pyc
