.+
/project/bin-*
/project/libs
/project/index.html
/project/app.json
/project/egretProperties.json
/project/wingProperties.json
manifest.json
default.boot.json
default.data.d.ts
default.data.js
default.res.json
default.thm.json
sub.res.json
.idea
.n2
.wing
^.*
~.*
~$*
node_modules
*.js.map
/dist
/publish
/project_wxgame
/project_baidugame
*.pyc

\.DS_Store
build
tmp
*\.tmp
~*
*~
\.settings
\.classpath
*\.xcuserdatad
xcshareddata
*\.user
*\.ncb
*\.suo
*\.usr
Debug
Debug Static
Release
Release Static
*\.scc
cscope\.files
cscope\.out
*\.class
*\.o
*\.o\.*
_*
!__init*
\#*
\.#*
\.svn
\.cvs
*\.pyc
*\.dmp
*\.sdf
*\.opensdf
ipch
*\.err
*\.log
*\.wrn
objchk_*
objfre_*
@
*\.cmd
\.tmp*
*\.symvers
*\.order
*\.mod\.c
\.ropeproject
\.AppleDouble
\.metadata
\.plugins
obj
bin
bin-debug
bin-release
libs
gen
\.gradle
\.pdsync
\.pdsyncu
\.elc
\.beam
\.idea
\.iml
out
RECOVER_*
\.fuse_*
*\.swf
wingProperties\.json
Thumbs\.db
\.n*
publish
\.wing
\.project
\.buildpath
\.actionScriptProperties
node_modules
